<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Koushik Tatikondawar. It uses mapbox.com and darksky.net to fetch weather data given a location by the user.</p>
        {{!-- <img class="portrait" src="/img/fezbot2000-756580-unsplash.jpg"> --}}
    </div>
    
    {{>footer}}
</body>


</html>